<div class="user_info">
<%= search_form_for @search, url: admin_categories_path,
  method: :get do |f| %>
    <%= f.condition_fields do |c| %>
      <%= render "condition_fields", f: c %>
    <% end %>
    <%= f.submit t("search"), class: "btn btn-sm btn-info"%>
<% end %>
</div>
